div.header {
    background-color: white;
}

h1 {
    padding-top: 10%;
}

.tag-line {
    /*text-shadow: 1px 1px #456EE5;
    text-shadow: 2px 2px #456EE5;*/
}

.curly {
    color: #0041FF;
}

.buffer {
    padding-bottom: 5%;
}

.summary {
    /*padding-top: 5%;*/
}

.mdi-content-mail {
    color: black;
    font-size: 100px;
    display: block;
}

img.contact {
    height: 100px;
}

/*.contact-link {
    margin: 10%;
}*/

/*.link-block>a {
    color: black;
}

.link-block>a:hover {
    color: #777;
    text-decoration: none;
}*/

.nav-bar {
    position: relative;
    /*width: 70%;*/
    margin: 5% 0 0 0;
}

.top-nav {
  position: absolute;
  width: 100%;
}

.nav-row {
  margin-bottom: 0;
}

.nav-btn {
    /*position: absolute;*/
    top: 5%;
    width: 80%;
    background-color: #eaad10;
    padding: 0;
}

.nav-btn:hover {
    background-color: #0041FF;
}

a.md-button.md-default-theme.md-primary.md-raised {
  color: white;
  background-color: #eaad10;
}

a.md-button.md-default-theme.md-primary.md-raised:focus {
  color: white;
  background-color: #eaad10;
}

a.md-button.md-default-theme.md-primary.md-raised:hover {
  color: white;
  background-color: #0041FF;
}

a.md-button.md-default-theme.md-primary.md-raised.active {
    background-color: #456EE5;
}

a.md-button.md-default-theme.md-primary.md-raised.active:focus {
  color: white;
  background-color: #456EE5;
}

.active {
    background-color: #456EE5;
}

/*.home-btn {
    left: 5%;
}

.p1-btn {
    left: 25%;
}

.p2-btn {
    left: 45%;
}

.p3-btn {
    left: 65%;
}

.contact-btn {
    left: 85%;
}*/

.name {
    color: #eaad10;
    position: relative;
}

.logo {
    /*position: absolute;*/
    height: 100px;
    display: inline-block;
    margin-bottom: -25px;
    /*left: 45%;*/
}

.project-image {
    max-height: 300px;
    border: 4px solid #456EE5;
    border-radius: 4px;
    padding: 4px;
    margin: 0;
}

.view-wrapper {
  position: relative;
}

.viewport {
  margin: 0 auto;
}

.view-buffer {
  width: 100%;
  /*height: 300px;*/
}

.viewport.ng-enter {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.viewport.ng-enter-stagger {
    transition-delay: 1s;
}

.viewport.ng-leave-stagger {
    transition-delay: 1s;
}

.viewport.ng-leave {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.nav-bar.ng-hide-remove {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.nav-bar.ng-hide-add {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.description {
  text-align: left;
  /*font-size: 14pt;*/
}

.view-page {
  /*width: 100%;*/
}